<%- include('partials/header') -%>

<h1 id="edit-title">Edit Blog</h1>

<div class="container" id="edit">

	<form method="POST" action="/blogs/<%= blog._id %>?_method=PUT">
		<label for="title">Title:</label>
		<input id="title" type="text" name="blog[title]" value="<%= blog.title %>">
		<label for="image-url">Image URL:</label>
		<input id="image-url" type="text" name="blog[image]" value="<%= blog.image %>">
		<label for="body">Body:</label>
		<textarea id="body" name="blog[body]"><%= blog.body %></textarea>
		<input class="button" type="submit">
	</form>

</div>

<%- include('partials/footer') -%>