<%- include('partials/header') -%>

<% blogs.forEach(function(blog){ %>
	<section id="featured">
		<div class="container featured-blogs">
			<img src="<%= blog.image %>">
			<h1><%= blog.title %></h1>
			<p><%= blog.body.substring(0, 200) %>...</p>
			<p>Created: <%= blog.created.toLocaleDateString("en-US", {
				weekday: "long", year: "numeric", month: "short", day: "numeric"}) %></p>
			<p><a href="/blogs/<%=blog._id%>">Read More</a></p>
		</div>
	</section>
<% }) %>

<div class="container" id="cta">
	<a href="/blogs/new"><button>New Blog</button></a>
</div>


<%- include('partials/footer') -%>