<%- include('../partials/header') -%>

<div class="container">
	<div class="box">
	<h1><%= results.username %> - Profile Page</h1>

	<h2>Blog posts:</h2>
	<% results.blogs.forEach((blog) => {%>
		<div class="container card">
			<div class="box">
				<img src= "<%= blog.image %>" >
			</div>
			<p><strong><%= blog.title %>:</strong></p>
			<p><%= blog.body.substring(0, 200) %></p>
			<p>
				Posted <%= helpers.timeSince(blog.created) %> ago
			</p>
			<a class="button" href="/blogs/<%=blog._id%>">Read More</a>
		</div>
	<% }); %>
	</div>
</div>
<%- include('../partials/footer') -%>