<%- include('../partials/header') -%>

<div class="container">

	<h1>Profile page of <%= results.username %></h1>

	<h2>Blog posts:</h2>
	<% console.log(results) %>
	<% results.blogs.forEach(function(blog){%>
		<p><%= blog.title %></p>
		<p><%= blog.body %></p>
	<% }); %>

</div>

<%- include('../partials/footer') -%>